.dialogueDossier
{
    .texteDossier
    {
        margin-bottom: 25px;
    }

    .boutonsActions
    {
        
        .boutonAjouter
        {
            color: white;
            background-color: green;
        }

        .boutonAnnuler
        {
            color: white;
            background-color: red;
        }
    }
    
}